<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">

    <!--accepted Environment values: SYS1 / UAT / PROD -->
    <add key="Environment" value="PROD" />

    <!--accepted Browser values: CHROME / FIREFOX / INTERNETEXPLORER -->
    <add key="Browser" value="INTERNETEXPLORER" />

  </appSettings>
</configuration>