<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" key="Setting1" value="Value3" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" key="Setting2" value="Value4" />
	</appSettings>
</configuration>