<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- Website Selenium Grid Hub Url-s -->
    <add key="PlanetWin365Url" value="http://www.planetwin365.dvl" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SeleniumHubUrl" value="http://localhost:4444/wd/hub" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!-- Pay Pal Server and access credentials -->
    <add key="PayPalIdpUrl" value="https://api.sandbox.paypal.com/v1/oauth2/token" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PayPalClientId" value="AU-YNW4xk0SxEwR63_roCXnlJ-7ViTkx2PkGHvXC2x9d1LVVIibxGL-hcQRl830zz35AlG6XYr7CG5YM" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PayPalSecret" value="EPfyBKxpYf3j4HSQuWGFPInbw_t7_a-zPcTwRSOpbu-uuXZhPRQPEG0NPyFUR-BuGDZFdnzmEtKT1zkO" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PayPalBaseUrl" value="https://api.sandbox.paypal.com/v1/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
  </appSettings>
</configuration>